
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h4>Kullanıcı: <%= current_user.name %></h4>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="page-header">
                <h4>Hesap Bilgileri </h4>
              </div>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'form-control' %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off", :class=>'form-control' %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'form-control' %>
              </div>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" , :class=>'form-control'%>
              </div>

              <div class="page-header">
                <h4>Kişisel Bilgiler</h4>
              </div>

              <div class="form-group">
                <%= f.label :isim %><br />
                <%= f.text_field :name, autocomplete: "off", class: 'form-control' %>
              </div>


              <div class="form-group">
                <%= f.label :soyisim %><br />
                <%= f.text_field :surname, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :telefon_numarası %><br />
                <%= f.text_field :gsm, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit "Güncelle", :class=>'btn btn-primary btn-block' %>
              </div>
            <% end %>



            <p> <%= button_to "Hesabımı iptal et!", registration_path(resource_name), data: { confirm: "Emin misiniz?" }, method: :delete %></p>

            <%= link_to "Anasayfaya dön", :back %>


    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
