<p id="notice"><%= notice %></p>

<h1>Aids</h1>
<div class="row">
  <table>
    <thead>
      <tr>
        <th class="col-md-2">Title</th>
        <th class="col-md-2">Category</th>
        <th class="col-md-2">Aid type</th>
        <th class="col-md-2">Needy name</th>
        <th class="col-md-2">Address</th>
        <th colspan="3" class="col-md-2"></th>
      </tr>
    </thead>

    <tbody>
      <% @aids.each do |aid| %>
        <tr>
          <td class="col-md-2"><%= aid.title %></td>
          <td class="col-md-2"><%= aid.category %></td>
          <td class="col-md-2"><%= aid.aid_type %></td>
          <td class="col-md-2"><%= aid.needy_name %></td>
          <td class="col-md-2"><%= aid.address %></td>
          <td><%= link_to 'Show', aid %></td>
          <td><%= link_to 'Edit', edit_aid_path(aid) %></td>
          <td><%= link_to 'Destroy', aid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div style='width: 1090px;'>
  <div id="map" style='width: 1080px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>


<br><br>

<%= link_to 'New Aid', new_aid_path %>

<br><br><br>
