<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
  <table id="customers">
    <thead>
      <tr>
        <th class="col-md-4" style="text-align: center">Yardım Başlığı</th>
        <th class="col-md-2" style="text-align: center">Yardım Kategori</th>
        <th class="col-md-2" style="text-align: center">Yardım Tipi</th>
        <th class="col-md-3" style="text-align: center">İl/ İlçe</th>
      </tr>
    </thead>
</div>
<div class="row">
    <tbody>
      <% @aids.each do |aid| %>
        <tr>
          <td class="col-md-4"><h4><%= link_to aid.title, aid %></h4></td>
          <td class="col-md-2"><%= aid.category %></td>
          <td class="col-md-2"><%= aid.aid_type %></td>
          <td class="col-md-3"><%= aid.il %> | <%= aid.ilce %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>


<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #173618;
    color: white;
}
</style>
