<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @aid.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @aid.category %>
</p>

<p>
  <strong>Yardım tipi:</strong>
  <%= @aid.aid_type %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @aid.explanation %>
</p>

<p>
  <strong>Needy name:</strong>
  <%= @aid.needy_name %>
</p>

<p>

<p>
  <strong>Address:</strong>
  <%= @aid.address %>
</p>
<p>
  <strong>ekleyen:</strong>
  <%= @aid.user.email %>
</p>

<%=   render 'map' %>
<br><br><br>
<%= link_to 'Edit', edit_aid_path(@aid) %> |
<%= link_to 'Back', aids_path %>
<br><br><br>
